.texnomart1 {
    border:  solid 7px;
    width: 900px;
    margin-left: 250px;
}
button {
    color: blue;
    width: 200px;
    height: 30px;
    margin-left:350px ;
    font-size: 20px;
    margin-bottom: 10px;
}
.t2 {
    font-size: 20px;
}
.t3 {
    font-size: 20px;
}
